.landing{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background:var(--background);
    .logo-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        img{
            height: 100px;
            width: 100px;
            object-fit: cover;
         }
         .btns{
            padding: 10px;
            margin-left: 3%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
      
            width: 50%;
           a{
            margin-right: 10px;
            text-decoration: none;
            background-color: #341a7c;
            padding: 10px 20px;
            width: 20%;
            font-family: poppins;
            margin-bottom: 20px,;
            text-align: center;
            border-radius: 40px;
            color: white;
            font-weight: 700;
            transition: 0.5s;
            &:nth-child(2){
                background-color: transparent;
                border-style: solid;
                border-color: #341a7c;
                color: #341a7c;
                
            }
            &:hover{
                transition: 0.5s;
                transform: scale(1.1);
            }
           }

         }
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .top{
           
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
       
            label{
                font-weight: 900;
                font-family: "poppins";
            }
        }
    }
    .center{
        font-weight: 800;
        font-size: 50px;
        font-family: "Nanum Pen Script";
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
 