nav{
    padding: 20px;
    img{
        height:70px;
        width: 70px;
        object-fit: cover;
   
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    label{
        font-weight: 800;
        font-size: 30px;
        font-family: "Nanum Pen Script";
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .profile{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .profile-img{
            margin-right: 4px;
            border-radius: 50%;
         img{
            width: 70px;
            height: 70px;
            object-fit: cover;
         }
      
        }
        .profile-name{
            font-weight: 700;
            font-size: 20px;
            font-family: poppins;
        }
    }
    
}